<div class="diss">
  <div class="row">
    <lib-toastify-toast-container
      [position]="'top-right'"
    ></lib-toastify-toast-container>

    <div class="col-md-7">
      <div class="left border">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-2">
            <label for="">User Name</label>

            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Please enter your name"
                required="true"
                id="name"
                name="name"
                [(ngModel)]="credentials.name"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="mb-2">
            <label for="">Email</label>

            <div class="input-group">
              <input
                type="email"
                class="form-control"
                placeholder="Please enter your email (Optional)"
                required="true"
                id="email"
                name="email"
                [(ngModel)]="credentials.email"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="mb-2">
            <label for=""> Number phone</label>

            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Please enter your number phone"
                required="true"
                id="phone"
                name="phone"
                [(ngModel)]="credentials.phone"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="mb-2">
            <label for="">Address</label>

            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Please enter your address"
                required="true"
                id="address"
                name="address"
                [(ngModel)]="credentials.address"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <button
            class="btn btn-primary btn-lg btn-block w-3 center"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-3">
      <div class="right border">
        <div class="header">Order Summary</div>
        <p>Cart({{ totalQuantity }})</p>
        <div class="row item" *ngFor="let cart of carts; let i = index">
          <div class="col-4 align-self-center">
            <img style="width: 50%" class="img-fluid" src="{{ cart.image }}" />
          </div>
          <div class="col-8">
            <div class="row">
              <b>{{ cart.name }}</b>
            </div>
            <div class="row">Quantity: {{ cart.quantity }}</div>
            <div class="row">$ {{ cart.price * cart.quantity }}</div>
          </div>
        </div>
        <hr />
        <div class="row lower">
          <div class="col text-left">Subtotal</div>
          <div class="col text-right">{{ totalPrice }}</div>
        </div>
        <div class="row lower">
          <div class="col text-left">Delivery</div>
          <div class="col text-right">Free</div>
        </div>
        <div class="row lower">
          <div class="col text-left"><b>Total to pay</b></div>
          <div class="col text-right">
            <b>{{ totalPrice }}</b>
          </div>
        </div>
        <button
          pButton
          pRipple
          class="p-button-success mr-2"
          (click)="openNew()"
        >
          Quét mã QR tại đấy!!!
        </button>

        <p-dialog
          [(visible)]="productDialog"
          [style]="{ width: '450px' }"
          header=""
          [modal]="true"
          class="p-fluid"
        >
          <img
            class="rounded"
            src="https://img.vietqr.io/image/MB-0867435803-compact2.png?amount={{
              totalPrice
            }}&addInfo=%22Em%20h%C3%B4m%20qua%20tuy%E1%BB%87t%20v%E1%BB%9Di%20l%E1%BA%AFm%22&accountName=%22Nguy%E1%BB%85n%20Qu%E1%BB%91c%20Huy%22"
            style="width: 100%; margin-top: 50px"
          />
        </p-dialog>
      </div>
    </div>
  </div>
</div>
